<%- include ("../partials/header") %>
<div class="container">
    <a class="button is-rounded is-danger" href="/events/new">Create a New Event</a>
    <br><br>
    <div class="columns is-multiline">
    <% events.forEach(function(event){ %>
    <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src=" <%=event.image%>" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><%=event.name%></p>
          </div>
          <a href= "/events/<%=event._id%>" class="button is-default is-success is-rounded">Info</a>
        </div>

        <div class="content">
          Location: <%=event.venue%>
          <br />
        </div>
      </div>
    </div>
    </div>
    <% }); %>
    </div>
  </div>
</div>

<%- include ("../partials/footer") %>
