<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
</head>

<body>

<%- include ("../partials/header") %>

<section class="hero">
  <div class="box column is-10 is-offset-1">
    <h1 class="subtitle has-text-centered">Registered Participants List</h1>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Sex</th>
        </tr>
      </thead>
      <tbody>
        <%events.registeredUser.forEach(function(user){%>
          <tr>
            <td><a href="/users/<%user.id%>"><%=user.name%></a></td>
            <td><%=user.username%></td>
            <td><a href="mailto:<%=user.email%>"><u><%=user.email%></u></a></td>
            <td><%=user.sex%></td>
          </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</section>

<%- include ("../partials/footer") %>