<%- include ("../partials/header") %>

<section class="hero is-primary is-medium">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%=events.name%>
      </h1>
      <h2 class="subtitle">
        Organized By :<%=events.author.username%>
      </h2>
      <h2 class="subtitle">
        <%=events.description%>
      </h2>

      <% events.comments.forEach(function(comment){ %>
      <h2 class="subtitle">
        <strong><%=comment.author.username%></strong> - <%=comment.text%>
      </h2>
      <% }) %>
    </div>

    <div class="container has-text-centered">
      <a href="/events/<%=events._id%>/comments/new" class="button is-rounded is-success">Add a New Comment</a>

      <% if(currentUser && events.author.id.equals(currentUser._id)){ %>
        <a href="/events/<%=events._id%>/edit" class="button is-rounded is-warning">EDIT</a>

        <form action="/events/<%=events._id%>?_method=DELETE" method="POST">
          <button class="button is-rounded is-danger">DELETE</button>
        </form>
      <% } %>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Location</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<%- include ("../partials/footer") %>