<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="EventTrack is the best place to search for local and international events. Find you favorite event or add you event to showcase to the world"
    />
    <title>EventTrack</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.7/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/footer.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
  </head>

  <body class="layout-default">
    <section class="hero main_hero is-fullheight">
      <div class="hero-head">
        <div class="first_nav">
          <div class="container">
            <%- include ("./partials/header") %>
          </div>
        </div>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="slider-content animated zoomIn">
            <div>
              <p class="title is-1 main-text">Welcome to EventTrack</p>
              <p class="subtitle is-4 main-text">
                Find Events or Create Your Own
              </p>
              <a href="/events" class="button is-info is-large">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
                <span>View Events</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <div class="main-content">
      <div class="section-color services" id="services">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">Services</h1>

              <h2 class="subtitle">
                EventTrack is packed with these amazing services to meet all
                your events needs.
              </h2>
              <br />
            </div>
            <div class="columns is-12">
              <div class="column is-4 has-text-centered">
                <i class="fas fa-search fa-3x"></i>
                <hr />
                <h2>
                  Event Search: Search and Find your favourite Events based on
                  locality and categories.
                </h2>
              </div>
              <div class="column is-4 has-text-centered">
                <i class="fas fa-pencil-alt fa-3x"></i>
                <hr />
                <h2>
                  Registration: Register to participate in the Events of your
                  interest.
                </h2>
              </div>
              <div class="column is-4 has-text-centered">
                <i class="fab fa-opera fa-3x"></i>
                <hr />
                <h2>
                  Organize: Organize different Events being a verified user of
                  EventTrack.
                </h2>
              </div>
            </div>
            <hr />
            <div class="columns is-12">
              <div class="column is-4 has-text-centered">
                <i class="fas fa-user fa-3x"></i>
                <hr />
                <h2>
                  Dashboard: View your profile, personal details with the events
                  that you have created and registered events.
                </h2>
              </div>
              <div class="column is-4 has-text-centered">
                <i class="fas fa-comments fa-3x"></i>
                <hr />
                <h2>
                  Discussion: Give feedbacks/comment about the events after analysing the
                  event details page or after attending the event.
                </h2>
              </div>
              <div class="column is-4 has-text-centered">
                <i class="fas fa-map-marker-alt fa-3x"></i>
                <hr />
                <h2>
                 Google maps: Find venue of event with dynamic google map.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Section End -->

    <!-- about us start -->
    <div class="main-content" id="about-us">
      <div class="section-dark resume">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                About Us
              </h1>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
              <h2 class="subtitle">
                EventTrack is a global platform for live experiences that allows
                anyone to create, search, find and attend events that fuel their
                passions and enrich their lives. It provides an interface to
                create and participate in different events like networking,
                educational, social, scitech and others .From gaming
                competitions,Hakathon,AI compitetion, photography to music
                festivals, marathons, conferences, community rallies, and
                fundraisers, cluinary events and so on. Our mission is to bring
                the world together through live experiences.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about us end -->

    <!-- Contact Us Section -->
    <section class="hero" id="contact-us">
      <div class="hero-body">
        <div class="container">
          <div>
            <div class="content">
              <h4 class="title is-4">Contact Us</h4>
            </div>
            <h6 class="subtitle is-6">
              If you've any queries feel free to contact us
            </h6>
            <%if(!currentUser){%>
            <div class="columns box">
              <form class="column" action="/query" method="POST">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="name"
                      placeholder="Your Name"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="email"
                      placeholder="Email address"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Phone Number</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="phone"
                      placeholder="Phone number"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      type="text"
                      name="message"
                      placeholder="Type your message here..."
                      required=""
                    ></textarea>
                  </div>
                </div>

                <div class="field">
                  <label class="label"></label>
                  <div class="control">
                    <input class="button is-primary" type="submit" />
                  </div>
                </div>
              </form>

              <div class="column">
                <iframe
                  width="100%"
                  height="100%"
                  frameborder="0"
                  style="border:0; height: 100%;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.160409935582!2d85.5364530144312!3d27.619548182828407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb092082d99e3b%3A0xe509dafa47685dba!2sKathmandu%20University!5e0!3m2!1sen!2snp!4v1579190471899!5m2!1sen!2snp"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <%} else if(currentUser){%>
            <div class="columns box">
              <form class="column" action="/query" method="POST">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Your Name"
                      name="name"
                      value="<%=currentUser.firstName%> <%=currentUser.lastName%>"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="email"
                      placeholder="Email address"
                      value="<%=currentUser.email%>"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Phone Number</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="phone"
                      placeholder="Phone number"
                      value="<%=currentUser.contact_no%>"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      type="text"
                      name="message"
                      placeholder="Type your message here..."
                      required=""
                    ></textarea>
                  </div>
                </div>

                <div class="field">
                  <label class="label"></label>
                  <div class="control">
                    <input class="button is-primary" type="submit" />
                  </div>
                </div>
              </form>

              <div class="column">
                <iframe
                  width="100%"
                  height="100%"
                  frameborder="0"
                  style="border:0; height: 100%;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.160409935582!2d85.5364530144312!3d27.619548182828407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb092082d99e3b%3A0xe509dafa47685dba!2sKathmandu%20University!5e0!3m2!1sen!2snp!4v1579190471899!5m2!1sen!2snp"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </section>
    <!-- ./Contact Us Section -->
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"
              ><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i
            ></a>
            <a href="#"
              ><i class="fa fa-youtube fa-2x" aria-hidden="true"></i
            ></a>
            <a href="#"
              ><i class="fa fa-facebook fa-2x" aria-hidden="true"></i
            ></a>
            <a href="#"
              ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <p>
            <strong>EventTrack</strong> by
            <a href="http://jgthms.com">Team CreativesKU</a>. This Platform is
            licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            <br />
          </p>
        </div>
      </div>
    </footer>
    <!-- Footer Section -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
